force-app/main/default/flows/After_Create_Update_Guild_Applicant_with_WoW_API_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_WoW_Character</name>
        <label>Create WoW Character</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <actionName>WoWCharacter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Guild_Applicant</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Guild_Applicant__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>args</name>
            <value>
                <elementReference>Realm_and_Character</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WoWCharacter</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reach_out_to_applicant</name>
        <label>Reach out to applicant</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Reach out to the Applicant in-game, introduce yourself and let them know their application is under review.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Character_Arguments</name>
        <label>Create Character Arguments</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>Realm_and_Character</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Realm__r.Realm_Slug__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Realm_and_Character</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Realm_and_Character</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WoW_Character</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>After Create - Update Guild Applicant with WoW API Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Create - Update Guild Applicant with WoW API Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Guild_Applicant</name>
        <label>Update Guild Applicant</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <inputReference>Create_WoW_Character</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reach_out_to_applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Realm__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Guild_Applicant__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Create_Character_Arguments</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Realm_and_Character</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
