force-app/main/default/flows/Create_Guild_Applicant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Applicant_Reach_Out</name>
        <label>Applicant - Reach Out</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Create_Character.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Reach out to the Applicant in-game, introduce yourself and let them know their application is under review.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Character</name>
        <label>Create Character</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>WoWCharacter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Guild_Applicant</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Guild_Applicant__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>args</name>
            <value>
                <elementReference>Realm_and_Character</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WoWCharacter</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Character_Arguments</name>
        <label>Character Arguments</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>Realm_and_Character</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Realm__r.Realm_Slug__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Realm_and_Character</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Realm_and_Character</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Character</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Duplicate_Applicant_Found</name>
        <label>Duplicate Applicant Found</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <customErrorMessages>
            <errorMessage>Applicant already exists.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Applicant_Reach_Out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Check_for_Matching_Records.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Realm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Check_for_Matching_Records.Realm__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Applicant_Found</targetReference>
            </connector>
            <label>Duplicates</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Guild Applicant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Guild Applicant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Update_Guild_Applicant</name>
        <label>Update Guild Applicant</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <doesUpsert>true</doesUpsert>
        <inputReference>Create_Character</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Matching_Records</name>
        <label>Check for Matching Records</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Realm__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Realm__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Guild_Applicant__c</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Matching_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Realm__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Guild_Applicant__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Character_Arguments</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Link_to_existing_record</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/lightning/r/Guild_Applicant__c/{!Check_for_Matching_Records.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View Existing Record&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Character_Record</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Guild_Applicant__c</objectType>
    </variables>
    <variables>
        <name>Realm_and_Character</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
